
h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial
 }
 tr:nth-child(odd){color:#000; background-color: #f2f2f2;} /* Added explicit text colour black to help support my Accessibility Option #3 High-Contrast Mode */ 



 .div1{ /* Changed to specify div1 to differentiate between header style and div2 style I've defined for Choose Language function*/
  background-color: #25aae1; /* Changed the colour to match my preference and to match the colours I used for the button below to maintain a uniform brand style*/
  text-align: right; 
 }  


 /*  Custom Button I have used with my personal choice of colour, transition hover animations, etc. */ 
 /* Dimensions */
 .custom_button {
  width: 180px;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out;
}
/* Hover */
.custom_button:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}
/* Focus */
.custom_button:focus {
  outline: none;
}
/* Style */
.custom_button.style {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #1e8fc3,
    #0b5884,
    #104e7d
  );
  box-shadow: 0 4px 15px 0 rgba(3, 29, 42, 0.75);
}

/* For Choose Language call to action for user: div2 style defined to force align text to centre*/
.div2{  
  text-align: center; 
} 


/* Creating column-section and column to add Accessibility Options and Language Support for users side by side */ 

.column-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Optional spacing between columns */
}

.column {
  padding: 10px;
  text-align: center;
}


/*  Custom Button (Large) I have used with my personal choice of colour, transition hover animations, etc. */ 
 /* Dimensions */
 .custom_button_large {
  width: 300px;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out;
}
/* Hover */
.custom_button_large:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}
/* Focus */
.custom_button_large:focus {
  outline: none;
}
/* Style */
.custom_button_large.style {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #1e8fc3,
    #0b5884,
    #104e7d
  );
  box-shadow: 0 4px 15px 0 rgba(3, 29, 42, 0.75);
}

/* Created Colour-Blind Mode Style for users with Protanooia i.e., Red-Green Colour-Blindness for Accessibility Option #2 */ 
.protanopia {
  filter: url('filters.svg#protanopia');
}


/* Created High-Contrast Mode Style for Accessibility Option #3 
to help users with visual imapairments to view the unit site in a more accessible manner */
.high-contrast {
  color: #fff;
  background-color: #000;
}